
#submodules li {
    font-size: 20px;
    line-height: 1.6;
}

.toctree-l1{
    font-size: 20px;
    line-height: 1.6;
}

.toctree-l2{
    display: none;
}

.wy-menu-vertical li.current > a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand {
    display: none !important;
}

code {
    font-size: 16px;
    color: #d9d9d9;
}

.wy-breadcrumbs  code{
    font-size: 20px !important;
}